<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8">
      <br>
      <div class="text-right">
        <% if end_user_signed_in? %>
          <%= link_to "新規登録", new_question_path, class:"btn btn-primary" %>
        <% end %>
      </div>
      <h4>質問一覧</h4>
      <% @questions.each do |question| %>
      <div class="d-flex flex-column bd-highlight">
        <div class="p-3 bd-highlight">
          <%= link_to question.text, question_path(question) %>
        </div>
      </div>
      <% end %>
      <%= paginate @questions %>
    </div>
  </div>
</div>
