<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8">
      <h4>質問一覧</h4>
      <% @questions.each do |question| %>
      <div class="d-flex flex-column bd-highlight">
        <div class="p-3 bd-highlight">
          <%= link_to question.text, question_path(question) %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>