<h4>質問詳細</h4>
  <p><%= @question.text %></p>
  <ul style="list-style-type: none">
    <% @question.question_selects.each do |question_select| %>
    <li><%= question_select.selected %></li>
    <% end %>
  </ul>
<% if admin_signed_in? %>
  <%= link_to "管理者削除", question_path(@question), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %>
<% end %>